:root {
    --main-text-color: white;
    --main-header-color: black;
    --secondary-font: 'K2D', sans-serif;
    --primary-font: 'Lexend', sans-serif;
    --header-font: 'Lexend Tera', sans-serif;
    --main-font: 'Jost', 'sans-serif';
}

body {
    background-color: #2B2828;
    color: var(--main-text-color);
    font-family: var(--header-font);
}

#main-header {
    display: flex;

    width: 100%;
    height: 50%;

    flex-shrink: 0;

    display: flex;
    width: 1291px;
    height: 541px;
    
    margin: auto;
    margin-top: 35px;
    
    background-image: url('main-header.png');
    background-size: 100% 100%;
    
    align-items: center;
    justify-content: center;
    
}

#main-header #header-text {
    display:flex;

    font-family: var(--main-header-font);
    color: #000;

    width: 41.1875rem;
    height: 15.25rem;
    flex-shrink: 0;

    border-radius: 1.9375rem;
    background: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(3.5px);

    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    
    line-height: normal;

}

.separator-line {
    width: 100%;
    height: 0.25rem;

    background-color:#fff;

    margin:none;

    margin-top: 10rem;
    margin-bottom: 10rem;

}

#apresentation-container{
    display:flex;

    width:100rem;
    height:20rem;

    justify-content:center;

    border: 2px solid red;


}

#apresentation-text {

    flex-direction:column;

    font-family: var(--primary-font);
    text-align: justify;

    width: 66.625rem;  
    height: 15rem;

    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;

    line-height: normal;

   

}

  