{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <div id="main-header">
        <div id="header-text">
            <h1> Salvem o Rio Potengi!</h1>
        </div>
    </div>
    <div class="separator-line"></div>
    <div id="apresentation-container">
        <h2 id="apresentation-text">
            Este site é uma dedicatória
            à todos os que se preocupam com o nosso lar, a Terra.
            E também um alerta aos covardes que estão por trás das grandes estatais e empresas.
            Um grito de desespero
            visando acordar as pessoas segas pelo sistema hipócrita e mentiroso.
        </h2>
    </div>    
    <div class="separator-line"></div>
    <div class="separator-line"></div>

{% endblock %}
